<!DOCTYPE html>
<html lang="ru">

<head>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}
  <link rel="icon" type="image/ico" sizes="16x16" href="{{ asset('/img/favicon.ico') }}">
  <title>{% block title %}Test API Project{% endblock %}</title>

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>

<body class="signin-body">

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          {% block body %}{% endblock %}
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
